.singleline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

&.wrapper {
    font-family: Roboto, Arial;
    .head {
        display: flex;
        gap: 8px;
        align-items: baseline;
        margin: 8px 0;
        font-size: 28px;
        font-weight: normal;
        .district {
            font-weight: bold;
        }
    }
    .foot {
        font-size: 14px;
        margin: 8px 0;
    }
    .groups {
        display: flex;
        overflow-x: auto;
        gap: var(--spacing-horizontal);
        padding-bottom: 8px;
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
        }
        .group {
            background: var(--secondary-background-color);
            padding: var(--spacing-horizontal);
            display: flex;
            flex-direction: column;
            height: 220px;
            min-width: 192px;
            justify-content: space-between;
            flex-shrink: 0;
            // background-color: color-mix(in srgb, var(--group-color) 10%, var(--primary-background-color));
            // border-color: color-mix(in srgb, var(--group-color) 30%, var(--primary-background-color)) !important;
            
            // border: 2px solid;
            background-color: var(--secondary-background-color); // #f0f0f0;
            border-radius: var(--border-radius);
            // border-color: #ddd;
            .group-head {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .superparty {
                    font-size: 1.4em;
                    font-weight: bold;
                    display: inline-block;
                    background: var(--group-color);
                    color: var(--group-contrast-color);
                    padding: 8px;
                    .singleline;
                }
                .superparty-ratio {
                    margin-top: 4px;
                    display: inline-block;
                    background: var(--group-color);
                    color: var(--group-contrast-color);
                    padding: 4px
                    
                    
                    /*
                    width: 128px;
                    background: var(--group-anticontrast-color) linear-gradient(90deg, var(--group-color) var(--group-ratio), transparent var(--group-ratio));
                    padding: 4px 8px;
                    font-size: 16px;
                    font-weight: bold;
                    text-shadow: 0 0 2px var(--group-anticontrast-color);
                    */
                }
            }
            .items {
                // width: 192px;
                font-size: 16px;
                display: flex;
                gap: var(--spacing-horizontal);
                align-items: center;
                .person {
                    width: 192px;
                    font-size: 16px;
                    display: flex;
                    gap: var(--spacing-horizontal);
                    &:not(:last-child) {
                        padding-right: var(--spacing-horizontal);
                        border-right: 1px solid var(--fixed-color);
                    }
                    .person-photo {
                        width: 64px;
                        height: 64px;
                        object-fit: cover;
                        border-radius: 50%;
                        // border-color: color-mix(in srgb, var(--group-color) 30%, var(--primary-background-color)) !important;
                        border: 2px solid;
                        border-color: var(--group-color);
                        box-shadow: 0 2px 4px #000a;
                    }
                    .person-detail {
                        width: 0;
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        padding: 8px 0;
                        gap: 4px;
                        .person-name {
                            font-weight: bold;
                            // .singleline;
                        }
                    }
                }
            }
        }
    }
    &[data-hasratios] .groups .group .items .person {
        &:first-child {
            width: 256px;
            font-size: 18px;
            .person-detail {
                text-decoration: underline;
                text-decoration-color: var(--group-color);
                text-decoration-thickness: 3px;
                text-decoration-skip-ink: none;
                text-underline-offset: 3px;
            }
            .person-photo {
                border-width: 4px;
                width: 80px;
                height: 80px;
            }
        }
        &:not(:first-child) {
            .person-photo {
                filter: grayscale(1);
            }
            .person-detail {
                opacity: 0.5;
            }
        }
    }
    @media (max-width: 768px) {
        padding: 0 var(--spacing-horizontal);
        .groups {
            .group {
                height: auto;
                justify-content: flex-start;
                .items {
                    margin-top: 16px;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
}
