.singleline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper {
  font-family: Roboto, Arial;
}
.wrapper .head {
  display: flex;
  gap: 8px;
  align-items: baseline;
  margin: 8px 0;
  font-size: 28px;
  font-weight: normal;
}
.wrapper .head .district {
  font-weight: bold;
}
.wrapper .groups {
  display: flex;
  overflow-x: auto;
  gap: var(--spacing-horizontal);
}
.wrapper .groups::-webkit-scrollbar-track {
  background-color: white;
}
.wrapper .groups::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
.wrapper .groups::-webkit-scrollbar-thumb {
  background-color: #DaDaDa;
  border-radius: 20px;
  border: 3px #DADADA;
}
.wrapper .groups .group {
  border-radius: 12px;
  background: linear-gradient(90deg, var(--group-color) 0%, rgba(75, 203, 255, 0) 70%), #1D2025;
  padding: 22px 27px;
  display: flex;
  flex-direction: column;
  height: 286px;
  min-width: 200px;
  justify-content: space-between;
  flex-shrink: 0;
  border-radius: var(--border-radius);
}
.wrapper .groups .group .group-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper .groups .group .group-head .superparty {
  color: #FFF;
  font-size: 32px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper .groups .group .group-head .superparty-ratio {
  display: inline-block;
  color: #FFF;
  font-size: 32px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.wrapper .groups .group .items {
  font-size: 16px;
  display: flex;
  gap: var(--spacing-horizontal);
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.wrapper .groups .group .items .person {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #FFF;
  font-family: Roboto Slab;
  margin-right: 43px;
}
.wrapper .groups .group .items .person .person-photo {
  border: 2px solid #FFF;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 4px #000a;
}
.wrapper .groups .group .items .person .person-detail {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  padding: 8px 0 0 0;
  gap: 4px;
}
.wrapper .groups .group .items .person .person-detail .person-name {
  display: flex;
  flex-direction: row;
}
.wrapper .groups .group .items .person .person-detail .person-ratio {
  text-wrap: nowrap;
}
.wrapper[data-hasratios] .groups .group .items .person:first-child {
  font-size: 18px;
  flex-direction: row;
  margin-right: 90px;
}
.wrapper[data-hasratios] .groups .group .items .person:first-child .person-detail {
  margin-left: 1rem;
}
.wrapper[data-hasratios] .groups .group .items .person:first-child .person-detail .person-name {
  color: #FFF;
  font-size: 24px;
  font-family: Roboto Slab;
  display: flex;
  flex-direction: row;
}
.wrapper[data-hasratios] .groups .group .items .person:first-child .person-photo {
  width: 97px;
  height: 97px;
}
.wrapper[data-hasratios] .groups .group .items .person:not(:first-child) .person-photo {
  filter: grayscale(100%);
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 var(--spacing-horizontal);
  }
  .wrapper .groups .group {
    background: linear-gradient(90deg, var(--group-color) 0%, rgba(75, 203, 255, 0) 54%), #1D2025;
    flex-direction: column;
    height: auto;
  }
  .wrapper .groups .group .items {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr frepeat(auto-fit, 100px);
  }
  .wrapper[data-hasratios] .groups .group .items .person:first-child {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 1rem 0 3rem 0;
  }
}
